<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mironyuk.roma.capitalsquiz.capitalsquizmodule" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/capitals_quiz" >
        <activity
            android:name=".QuizAnimationActivity"
            android:label="@string/capitals_quiz"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="mironyuk.roma.capitalsquiz.capitalsquizmodule.QuizMenuActivity"
                android:screenOrientation="portrait"
                android:label="@string/menu_quiz"></activity>
    </application>

</manifest>
